
        * {
            margin: 0;
            padding: 0;
            font-family: 'Lato', sans-serif;
        }

        body {
            padding: 1rem 0;
            background-color: #fdfdfd;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        header {
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 2rem;
        }

        #icons-container {
            margin-bottom: 2rem;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        ul {
            padding-right: 30px;
            display: flex;
            list-style: none;
        }

        .social-icon {
            width: 40px;
        }

        #name-container {
            width: 100%;
        }

        .profile-link {
            margin: 0 1rem;
        }

        #profile-pic-circle {
            width: 12rem;
            height: 12rem;
            background-color: gray;
            border-radius: 50%;
            margin-bottom: 1rem;
        }

        #bio {
            width: 50%;
            text-align: center;
            letter-spacing: 0.1rem;
            line-height: 1.3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .section-header {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            color: #EA5E12;
            font-weight: 700;
        }

        p {
            font-weight: 300;
        }