
        * {
            margin: 0;
            padding: 0;
            font-family: 'Lato', sans-serif;
        }

        body {
            background-color: #fdfdfd;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        header {
            width: 100%;
            height: 4rem;
            text-align: center;
            display: flex;
            flex-direction: column;
        }

        #icons-container {
            margin-bottom: 2rem;
            padding: 0.5rem 1rem 0.5rem 0;
            width: 100%;
            height: 2rem;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: fixed;
            background-color: #fdfdfd;
        }

        ul {
            padding-right: 30px;
            display: flex;
            align-items: center;
            list-style: none;
        }

        .social-icon {
            width: 2rem;
        }

        #name-container {
            width: 100%;
            text-align: center;
            margin-bottom: 1rem;
        }

        .profile-link {
            margin: 0 1rem;
        }

        #profile-pic-circle {
            width: 10rem;
            height: 10rem;
            background-image: url(profile-pic.jpeg);
            background-size: cover;
            border-radius: 50%;
            margin-bottom: 1rem;
        }

        #bio {
            width: 75%;
            text-align: center;
            letter-spacing: 0.1rem;
            line-height: 1.3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .section-header {
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            color: #EA5E12;
            font-weight: 700;
        }

        p {
            font-weight: 300;
        }

        footer {
            height: 100rem;
        }